<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
        *ngFor="let unArticulo of articulos; let i=index"> <!--generamos ciclo para recorrer el arreglo-->

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">{{i+1}}</span>
              <span>{{unArticulo.source.name}}</span>
            </ion-card-subtitle>
            <ion-card-title>{{unArticulo.title}}</ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="unArticulo.urlToImage" [src]="unArticulo.urlToImage"></ion-img>
          <ion-card-content>
            <p>
              {{unArticulo.content}}
            </p>
          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
