<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="encabezado">
    <h1>Bienvenido {{usuario}}</h1>
    <h2></h2>
  </div>

  <ion-content class="ion-padding" style="display: flex; flex-direction: column;">
    <ion-card class="alumno-card">
      <img src="assets/QR.jpg"/>
      <ion-card-header class="alumno-card-header">
        <ion-card-title class="alumno-card-title" >GENERAR QR </ion-card-title>
        <ion-card-subtitle class="alumno-card-subtitle">2023_2</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="alumno-card-content" routerLink="/generar-qr" >
        Haz click aquí
      </ion-card-content>
    </ion-card>

  <ion-content class="ion-padding" style="display: flex; flex-direction: column;">
    <ion-card>
      <img src="assets/Programacion_movile.jpg"/>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">PROGRAMACIÓN DE APLICACIONES MÓVILES_009V</ion-card-title>
        <ion-card-subtitle class="card-subtitle">VIVIANA SOLEDAD POBLETE LÓPEZ</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        2023_2_MA_PGY4121
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/Deep_learning.jpeg"/>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">DEEP LEARNING_001V</ion-card-title>
        <ion-card-subtitle class="card-subtitle">DANIEL ALONSO MONTERO VALENZUELA</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        2023_2_MA_DLY0100
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/Mineria_datos.jpeg"/>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">MINERÍA DE DATOS_001V</ion-card-title>
        <ion-card-subtitle class="card-subtitle">DANIEL ALONSO MONTERO VALENZUELA</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        2024_1_MA_MD0100
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/Programacion_web.jpg"/>
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">PROGRAMACIÓN WEB_001V</ion-card-title>
        <ion-card-subtitle class="card-subtitle">VIVIANA SOLEDAD POBLETE LÓPEZ</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-content">
        2023_1_MA_PGY3121
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
