<ion-app>
  <ion-menu contentId="main" menuId="first" side="start">
    <ion-content>
      <ion-item class="bg">
        <ion-icon name="layers-outline" color="success"></ion-icon>
        <ion-label style="margin-left: 12px;"> 
          <!-- Mostrar "Menú" seguido del rol del usuario -->
          <h2>Menú {{ getUserRole() }}</h2>
        </ion-label>
      </ion-item>

      <ion-list class="menu-items" lines="none">
        <!-- Enlace dinámico al Home -->
        <ion-menu-toggle>
          <ion-item [routerLink]="homeLink.redirectTo" detail="true">
            <ion-icon [name]="homeLink.icon" slot="start" color="success"></ion-icon>
            {{ homeLink.nombre }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngFor="let c of componentes">
          <ion-item [routerLink]="c.redirectTo" detail="true">
            <ion-icon [name]="c.icon" slot="start" color="success"></ion-icon>
            {{ c.nombre }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


